@import 'utils/modern-normalize.scss';
@import 'utils/variables.scss';
@import 'utils/base.scss';
@import 'components/containers.scss'

/* Общие параметры для контейнеров * / 

// .container {
//   margin-left: auto;
//   margin-right: auto;
//   width: 1200px;
//   padding-left: 15px;
//   padding-right: 15px;
// }


/* Контейнер хедера */
// .header.container {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

/* Контейнер футера */
// .footer .container {
//   display: flex;
//   align-items: baseline;
//   margin-right: 70px;
//   padding-top: 60px;
//   padding-bottom: 60px;
// }

//  /* Задаём flex контейнеру секции "Преимущества" */
// .advantages .container {
//   display: flex;
//   margin: auto;
//   justify-content: center;
// }



//  /* Задаём размеры и отступы элементам секции "Преимущества" */

.container__advantages li:not(:first-child) {
  margin-left: 30px;
}

.container__advantages li {
  width: 270px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* Задаём паддинги секции со списком проектов  */

.container .project-list {
  padding-bottom: 94px;
}


/* Header */

/* Задаём flex элементам хедера */

.nav-links,
.nav-menu,
.contact-items {
  display: flex;
}

/* Цвет фона хедера */
.header {
  background-color: $white;
}

// /* Переназначаем шрифт для логотипа*/
.header .logo-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: left;

  color: $black-text;
}
/* Переназначаем цвет для текста логотипа web */

.logo-title-web {
  color: $blue-text;
}

/* Шрифт для ссылок меню хедера */

.nav-menu a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: $black-text;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Псевдоклассы hover, focus, active для хедера */
.nav-menu .link:hover,
.nav-menu .link:focus,
.nav-menu .link:active {
  color: $blue-text;
}

/* Подсветка страницы, на которой находится пользователь */
.nav-menu .current-link {
  position: relative;
  color: $blue-text;
  display: block;
}

/* Делаем подчёркивание ссылки текущей страницы  */

.nav-menu .current-link::after {
  content: '';
  position: absolute;
  display: inline-block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: $accent-icon;
  border-radius: 2px;
}

/* Шрифт для электронной почты в хедере и выравнивание иконки и адреса*/
.header .mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;

  color: $grey-text;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Шрифт для телефона в хедере и выравнивание иконки и телефона*/
.header .tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;

  color: $grey-text;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Делаем высокие кнопки-ссылки */

.nav-menu a,
.contact-items {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Марджины для логотипа */
.header .logo-title {
  margin-right: 93px;
  margin-bottom: 24px;
  margin-top: 24px;
}

/* Задаём нижний марджин кнопкам-ссылкам */
.nav-menu,
.contact-items {
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.nav-menu li:not(:first-child) {
  margin-left: 50px;
}

.contact-items li:not(:first-child) {
  margin-left: 50px;
  color: $grey-text;
}

/* Делаем ховер для электронной почты и телефона */

.button-icon {
  margin-right: 10px;
  fill: currentColor;
}

.mail:hover,
.mail:focus,
.mail:active {
  color: $accent-icon;
}

.tel:hover,
.tel:focus,
.tel:active {
  color: $accent-icon;
}
.button-icon:hover,
.button-icon:focus,
.button-icon:active {
  color: $accent-icon;
}



/* Footer */

/* Цвет фона футера */
.footer {
  background-color: $black;


/* Переназначаем шрифт для логотипа в футере*/
.footer .logo-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: left;

  color: $white-text;
}

/* Шрифт для адреса в футере */
.footer .address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: $white-text;
}

/* Шрифт для электронной почты в футере */
.footer .mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: $white-text-op60;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Шрифт для телефона в футере */
.footer .tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: $white-text-op60;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Шрифт для "присоединяйтесь" и "подпишитесь" в футере */
.join-us,
.sign-up {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: $white-text;
}



.footer .logo-title {
  display: block;
  margin-bottom: 20px;
}

.address,
.contact-list {
  padding-left: 0;
  margin: 0 0 9px 0;
}

.mail {
  margin: auto;
}
/* Задаём паддинги и марджины для секции ссылок соцсетей в футере */

.footer .menu-social-links {
  margin: 0 93px 0 70px;
}

.join-us {
  margin: 0 0 20px 0;
}

/* Задаём характеристики иконок соцсетей */

.social-links {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  margin: auto;
}

.social-links li:not(:first-child) {
  margin-left: 10px;
}

.social-links-icon-footer {
  background: rgba(255, 255, 255, 0.1);
  color: $white-text;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-icon-footer svg {
  fill: currentColor;
}

.social-links-icon-footer:hover,
.social-links-icon-footer:focus,
.social-links-icon-footer:active {
  color: $white-text;
  background-color: $accent-icon;
}

/* Форма для подписки */

.sign-up-wrapper {
  display: flex;
}

.sign-up-form .input {
  position: relative;
  width: 358px;
  height: 50px;
  padding: 0 0 0 16px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.3);
  background-color: $black;
}

.sign-up-form .button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-send {
  fill: currentColor;
  margin-left: 10px;
}

.sign-up-wrapper .input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: $white-text-op60;
}

/* Модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: visible;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 521px;

  background-color: $white;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-close {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: black;
  background-color: $white;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.close-icon svg {
  fill: currentColor;
}

.backdrop-close:hover .close-icon,
.backdrop-close:focus .close-icon {
  fill: $accent-icon;
}

/* Шрифт и размеры для формы заказа */
.order-form {
  padding: 40px;
}

.order-form-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 12px;

  color: $black-text;
}

.order-form .label {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;

  margin-bottom: 4px;

  color: $grey-text;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.order-form .input {
  position: relative;
  width: 448px;
  height: 40px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  position: absolute;
  transform: translateX(50%) translateY(60%);
  justify-content: left;
  align-items: center;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper:focus-within > .modal-icon {
  color: $accent-icon;
}
.input-wrapper:focus-within > .input {
  border-color: $blue;
}

.comment {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  display: flex;
  flex-direction: column;
  resize: none;
  width: 448px;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px 12px 16px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  color: rgba(117, 117, 117, 0.5);
}

.comment:focus-within {
  border-color: $blue;
}

/* Чекбокс */
.checkbox-field {
  display: flex;
  align-items: center;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 10px;
  border: 2px solid #2a2a2a;
  border-radius: 4px;
  fill: currentColor;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-icon {
  border-color: transparent;
  background-color: $accent-icon;
  background-image: url('../images/icon-check.svg');
  background-size: contain;
  background-origin: border-box;
}

.checkbox-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: $grey-text;
}

.checkbox-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: underline;

  color: $blue-text;
}

/* Кнопки заказа и подписки */
.order-form .button,
.sign-up-form .button {
  background-color: $blue;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: $white-text;

  min-height: 50px;
  min-width: 200px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  border-width: 0px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sign-up-form .button {
  margin-left: 12px;
}

.sign-up-form .button:hover,
.sign-up-form .button:focus,
.sign-up-form .button:active {
  background-color: $white;
  color: $black-text;
}

.order-form .button {
  margin-top: 30px;
}

.order-form .button:hover,
.order-form .button:focus,
.order-form .button:active {
  background-color: #188ce8;
}

/* Секция "Герой" */

.overlay {
  padding-top: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/bgnd-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $black;
}
.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $white-text;
}
.section-hero .button {
  background-color: $blue;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: $white-text;

  min-height: 50px;
  min-width: 200px;
  justify-content: center;
  padding: 10px 32px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-hero .button:focus,
.section-hero .button:hover,
.section-hero .button:active {
  background-color: $white;
  color: $black-text;
}

/* Размеры секции "Герой" */
.section-hero {
  display: block;
  align-self: center;
  min-height: 600px;
}

.section-hero .title,
.section-hero .button {
  margin-right: auto;
  margin-left: auto;
}

/* Делаем отступ между "title" и "button" */
.section-hero .title {
  padding-bottom: 30px;
}

/* Секция "Преимущества" */

/* Задаём верхний паддинг секции "Преимущества" */
.advantages {
  padding-top: 94px;
}



/* Задаём характеристики текста элементов секции "Преимущества" */
.advantage-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $black-text;
}

.advantage-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: $grey-text;
}

/* Задаём характеристики для иконок преимуществ */
.advantage-icon {
  display: flex;
  background-color: $ghost-white;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

/* Задаём паддинги секциям "Услуги", "Команда", "Постоянные клиенты"  */

.services,
.section-team,
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Подзаголовки секций "Услуги" и "Команда" */
.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;

  color: $black-text;
  margin: 0 0 50px 0;
}

.services .service-items {
  display: flex;
  margin: auto;
  padding-left: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.services .service-items :not(:first-child) {
  margin-left: 30px;
}

/* Секция "Услуги" */
.service-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  margin: 0px;

  padding-top: 27px;
  padding-bottom: 27px;

  color: $white-text;
}

/*  Позиционируем названия преимуществ*/
.service-image {
  position: relative;
}
.overlay-service-title {
  position: absolute;
  left: -30px;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
}
/* Секция "Команда" */

.section-team {
  background-color: $ghost-white;
}

.employee-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 19;
  text-align: center;
  letter-spacing: 0.03em;

  color: $black-text;
}

.employee-role {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: $grey-text;
}

.team-cards {
  display: flex;
  margin: auto;
  padding-left: 0px;
}

.team-cards li:not(:first-child) {
  margin-left: 30px;
}

/* Обнуляем марджины */

.employee-name,
.employee-role {
  margin: auto;
}
.employee-card img {
  margin-right: 0px;
}
/* Задаём паддинги, границы и тени элементов контейнеров employee-card  */

.employee-card-thumb {
  padding: 30px 32px 30px 32px;
}

/* .employee-name {
  padding-top: 30px;
} */

.employee-role {
  margin-top: 10px;
  /* padding-bottom: 0px; */
}

.employee-card .social-links {
  margin-top: 16px;
  justify-content: center;
  text-align: center;
}

.employee-card {
  background-color: $white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* Задаём характеристики иконок соцсетей в карточках членов команды */

.social-links li:not(:first-child) {
  margin-left: 10px;
}
.social-links-icon {
  background: rgba(255, 255, 255, 0.1);
  color: $grey-icon;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-icon svg {
  fill: currentColor;
}

.social-links-icon:hover,
.social-links-icon:focus,
.social-links-icon:active {
  color: $white-text;
  background-color: $accent-icon;
}

.clients-logo {
  display: flex;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.clients-logo li:not(:first-child) {
  margin-left: 30px;
}
/* Задаём характеристики для иконок постоянных клиентов */
.client-link-icon {
  display: flex;
  color: $grey-icon;
  background-color: $white;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Делаем ховер для иконок постоянных клиентов */
.client-link-icon svg {
  fill: currentColor;
}

.client-link-icon:hover svg,
.client-link-icon:focus svg,
.client-link-icon:active svg {
  fill: $accent-icon;
}

.client-link-icon:hover,
.client-link-icon:focus,
.client-link-icon:active {
  border-color: $accent-icon;
}

/* Страница "Портфолио" */

/* Задаём верхнюю границу и верхний паддинг для секции "Портфолио" */
.portfolio {
  border-top: 1px solid #ececec;
  padding-top: 94px;
}

/* Задаём flex и паддинги секции nav-buttons */
.nav-buttons {
  display: flex;
  justify-content: center;
  margin: 0 0 50px 0;
  padding-left: 0px;
}

.nav-buttons :not(:first-child) {
  margin-left: 8px;
}

.button {
  background-color: $ghost-white;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  color: $black-text;

  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Псевдоклассы hover, focus, active для кнопок секции "Портфолио" */
.button:hover,
.button:focus,
.button:active {
  background-color: $blue;
  color: $white-text;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: none;
}

/* Перечень проектов */
.project-list {
  background-color: $white;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: $black-text;
}

.project-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: $grey-text;
}


/* Сетка проектов на flex */

.project-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-left: -30px;
  margin-top: -30px;
  margin-bottom: 0px;
}

.project-list .project-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.card-content {
  padding: 20px 24px;
}

.project-title,
.project-type {
  margin: auto;
}
.project-type {
  margin-top: 4px;
}

.project-list .card {
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Делаем оверлей на карточки портфолио */

.card-thumb {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-align: left;
  padding: 63px 24px 63px 24px;
  margin: 0;
  color: $white-text;
}

.thumb-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .thumb-overlay {
  transform: translateY(0);
  opacity: 1;
}